nnvenv/Lib/site-packages/distutils-precedence.pth
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

*.local

*.pkl

*.csv

*.png

*.txt

*.py~

*.localhost
nnvenv/share/man/man1/isympy.1
*.cfg
*.exe
*.ps1
*.bat

nnvenv/Scripts/activate

*.h
*.1
*.json
*.svg
*.js
*.eot
*.woff
nnvenv/Scripts/jsonpointer
nnvenv/Scripts/pywin32_postinstall.py
nnvenv/Scripts/pywin32_testall.py
nnvenv/share/applications/jupyter-notebook.desktop
nnvenv/share/applications/jupyterlab.desktop
nnvenv/share/jupyter/lab/schemas/@jupyter-notebook/application-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyter-notebook/documentsearch-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyter-notebook/help-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyter-notebook/notebook-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyter-notebook/tree-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/application-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/apputils-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/cell-toolbar-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/celltags-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/codemirror-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/completer-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/console-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/csvviewer-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/debugger-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/docmanager-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/documentsearch-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/extensionmanager-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/filebrowser-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/fileeditor-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/help-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/htmlviewer-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/hub-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/imageviewer-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/inspector-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/launcher-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/logconsole-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/lsp-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/mainmenu-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/markdownviewer-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/mathjax-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/metadataform-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/notebook-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/running-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/settingeditor-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/shortcuts-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/statusbar-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/terminal-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/toc-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/tooltip-extension/package.json.orig
nnvenv/share/jupyter/lab/schemas/@jupyterlab/translation-extension/package.json.orig
nnvenv/share/jupyter/lab/static/8ea8791754915a898a31.woff2
nnvenv/share/jupyter/lab/static/9834b82ad26e2a37583d.woff2
nnvenv/share/jupyter/lab/static/af6397503fcefbd61397.ttf
nnvenv/share/jupyter/lab/static/cda59d6efffa685830fd.ttf
nnvenv/share/jupyter/lab/static/e42a88444448ac3d6054.woff2
nnvenv/share/jupyter/lab/static/e8711bbb871afd8e9dea.ttf
nnvenv/share/jupyter/lab/static/index.html
nnvenv/share/jupyter/lab/themes/@jupyterlab/theme-dark-extension/index.css
nnvenv/share/jupyter/lab/themes/@jupyterlab/theme-light-extension/index.css
nnvenv/share/jupyter/labextensions/@jupyter-notebook/lab-extension/schemas/@jupyter-notebook/lab-extension/package.json.orig
nnvenv/share/jupyter/labextensions/@jupyter-widgets/jupyterlab-manager/schemas/@jupyter-widgets/jupyterlab-manager/package.json.orig
nnvenv/share/jupyter/nbconvert/templates/asciidoc/index.asciidoc.j2
nnvenv/share/jupyter/nbconvert/templates/base/cell_id_anchor.j2
nnvenv/share/jupyter/nbconvert/templates/base/celltags.j2
nnvenv/share/jupyter/nbconvert/templates/base/display_priority.j2
nnvenv/share/jupyter/nbconvert/templates/base/jupyter_widgets.html.j2
nnvenv/share/jupyter/nbconvert/templates/base/mathjax.html.j2
nnvenv/share/jupyter/nbconvert/templates/base/null.j2
nnvenv/share/jupyter/nbconvert/templates/basic/index.html.j2
nnvenv/share/jupyter/nbconvert/templates/classic/base.html.j2
nnvenv/share/jupyter/nbconvert/templates/classic/index.html.j2
nnvenv/share/jupyter/nbconvert/templates/classic/static/style.css
nnvenv/share/jupyter/nbconvert/templates/compatibility/display_priority.tpl
nnvenv/share/jupyter/nbconvert/templates/compatibility/full.tpl
nnvenv/share/jupyter/nbconvert/templates/lab/base.html.j2
nnvenv/share/jupyter/nbconvert/templates/lab/index.html.j2
nnvenv/share/jupyter/nbconvert/templates/lab/mermaidjs.html.j2
nnvenv/share/jupyter/nbconvert/templates/lab/static/index.css
nnvenv/share/jupyter/nbconvert/templates/lab/static/theme-dark.css
nnvenv/share/jupyter/nbconvert/templates/lab/static/theme-light.css
nnvenv/share/jupyter/nbconvert/templates/latex/base.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/display_priority.j2
nnvenv/share/jupyter/nbconvert/templates/latex/document_contents.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/index.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/null.j2
nnvenv/share/jupyter/nbconvert/templates/latex/report.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/style_bw_ipython.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/style_bw_python.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/style_ipython.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/style_jupyter.tex.j2
nnvenv/share/jupyter/nbconvert/templates/latex/style_python.tex.j2
nnvenv/share/jupyter/nbconvert/templates/markdown/index.md.j2
nnvenv/share/jupyter/nbconvert/templates/python/index.py.j2
nnvenv/share/jupyter/nbconvert/templates/reveal/base.html.j2
nnvenv/share/jupyter/nbconvert/templates/reveal/cellslidedata.j2
nnvenv/share/jupyter/nbconvert/templates/reveal/index.html.j2
nnvenv/share/jupyter/nbconvert/templates/reveal/static/custom_reveal.css
nnvenv/share/jupyter/nbconvert/templates/rst/index.rst.j2
nnvenv/share/jupyter/nbconvert/templates/script/script.j2
nnvenv/share/jupyter/nbconvert/templates/webpdf/index.pdf.j2
nnvenv/share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map
